//colors
$dark-ash :  #34495e;
$off-white:#a5afd7;
$almost-ash: #85929e ;
$twitter-blue:#2980b9;
$darker-ash:  #2c3e50 ;
$light-ash: #5d6d7e;
$dark-blue: #364051;
$kinda-orange: #ffb733;
//spacing
$s-size:1.2rem;
$m-size: 1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;
$desktop-threshold:45rem;
